body{margin:0px; padding:0px; height: 100vh;font-family: 'Catamaran', sans-serif;
}
.circle
{
    
    border-radius: 100px;
    border: 2px solid black;
    position: absolute;
    color: red;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 36px;
    display: block;
} 
.icircle
{
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    display: block;
}
.circle2
{
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 1px solid white;
}
.ulContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.ulContainer ul
{
    list-style-type: none;
    display: flex;
    text-align: center;
}
.ulContainer li
{
    width: 5%;
    text-align: center;
}
.gameInfo
{
    width: 20%;
    padding: 10px 5px 10px 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    display: none;
    position: relative;
}
.gameInfo hr
{
    height: 1px;
    border: 0;
    background: black;
    width: 50%;
}
.gameInfo input
{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background-color: white;
}
.gameEnd
{
    width: 20%;
    padding: 10px 5px 10px 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    display: none;
    position: relative;
}
.gameEnd hr
{
    height: 1px;
    border: 0;
    background: black;
    width: 50%;
}
.gameEnd input
{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background-color: white;
}